{# scheme.py jinja2 template #}
"""
Scheme generated on {{ date }} using Compiler v{{ version }}.
"""

TEAM_COLUMNS = {{ team_columns }}

TEAM_INTERESTS = {{ teams }}

TOPIC_COLUMNS = {{ topic_columns }}
